*playground*/
my_llama2/
*result*/
*.csv
*free_note*.*
.ipynb*/
.dockerignore
.idea/
flagged/
outputs/
data/
out/
7B/
13B/
__pycache__/
checkpoint**
minimal-llama**
upload.py
lora-**
*ckpt
wandb
evaluate.py
test_data.json
todo.txt
.venv
.vscode
outputs/output/*
dataset/*
